.carrito {
  font-family: "Roboto", sans-serif;
  .datosproducto {
    font-size: 20px;
    margin-bottom: 0;
  }

  img {
    width: 80px;
    height: 160px;
  }
  p {
    margin-bottom: 10px;
  }

  .borderinferior {
    border-bottom: 1px solid $colorsecundario;
    padding-bottom: 1rem;
  }
}
