.itemDetail {
  font-family: "Roboto", sans-serif;

  p {
    font-size: 20px;
    font-weight: 300;
  }

  img {
    width: 200px;
    @media screen and (max-width: 400px) {
      width: 100px;
    }
  }
}
