.navbarStyles {
  background-color: $colorprimario;

  .navbar-toggler {
    color: #b09e80 !important;
    font-size: 1.75rem;
  }
  .navbar-collapse {
    justify-content: center;
  }

  .subrayado {
    border-bottom: 1px solid $colorblanco;
    font-size: 1.25rem;

    @media screen and (max-width: 400px) {
      font-size: 15px;
    }
  }

  a {
    text-decoration: none;
    color: $colorsecundario;
    font-size: 18px;
  }
  span {
    color: $colorblanco;
  }

  .widgetnumber {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;

    .numero {
      border: thin solid $colorgoogle;
      text-decoration: none;
      background-color: $colorblanco;
      border-radius: 0;
      color: $colorgoogle;
      font-weight: bold;
      padding: 2px 2px;
      margin-left: 5px;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}
