@import "colores";
@import "header";
@import "navbar";
@import "tarjetaProducto";
@import "cart";
@import "itemDetail";
@import "formularios";
@import "videohome";
@import "tarjetas";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cinzel", serif;
  font-size: 16px;
  background-color: $colornegro;
}

html {
  ol,
  ul {
    padding-left: 0;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-bottom: 0;
  }
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  color: $colorsecundario;
  font-size: 20px;
  font-weight: 700;
  background-color: $colorprimario;
  border-color: $colorprimario;
}
.btn-primary:hover {
  color: #fff;
  background-color: $colorprimario;
  border-color: $colorprimario;
}

.btn-outline-primary {
  color: $colorprimario;
  border-color: $colorprimario;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: $colorprimario;
  border-color: $colorprimario;
}
.btn-outline-succes {
  color: $colorwhatsapp;
  border-color: $colorwhatsapp;
}
.btn-outline-succes:hover {
  color: #fff;
  background-color: $colorwhatsapp;
  border-color: $colorwhatsapp;
}

.btn-outline-secondary {
  color: $colorsecundario;
  border-color: $colorsecundario;
}
.btn-outline-secondary:hover {
  color: $colorprimario;
  background-color: $colorsecundario;
  border-color: $colorsecundario;
  font-weight: 700;
}

.btn-outline-danger {
  color: $colorgoogle;
  border-color: $colorgoogle;
}
.btn-outline-danger:hover {
  color: $colorblanco;
  background-color: $colorgoogle;
  border-color: $colorgoogle;
}

.btn-outline-info {
  color: $colorfacebook;
  border-color: $colorfacebook;
}
.btn-outline-info:hover {
  color: $colorblanco;
  background-color: $colorfacebook;
  border-color: $colorfacebook;
}

.error {
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(255, 0, 0, 0.658);
  color: white;
  font-size: bolder;
}

.fuente {
  font-family: font-family, "Roboto", sans-serif;
}

.links {
  color: $colorsecundario;
  text-decoration: none;
  border-bottom: 1px solid $colorsecundario;
}
.links:hover {
  color: $colorblanco;
  text-decoration: none;
}
