$colorprimario: #192537;
$colorprimariooscuro: #101825;
$colorsecundario: #b09e80;
$colorsecundarioclaro: #ceab70;
$colorprimarioclaro: #2e4465;
$colorblanco: #fff;
$colornegro: #000;
$colornegro50: #282829;
$colorgrisclaro: #f8f8f8;
$colorfacebook: #3b5998;
$colorwhatsapp: #00bb2d;
$colorinstagram: #3f729b;
$colorfondo: #1d1712;
$colorgoogle: #d50f25;
